html {
    box-sizing: border-box;
}

*,
* :before,
* :after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}


/* Login form */

.form {
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 1em;
    font-weight: lighter;
}

.login-input {
    display: block;
    min-height: 40px;
    width: 90%;
    font-size: 0.8em;
    margin: 10px 0;
    border-style: ridge;
    border-width: 1px;
}

.signup-btn {
    float: right;
    border-style: none;
    border-width: 0px;
    width: 150px;
    min-height: 40px;
    margin: 5px 1px;
    background-color: white;
    color: teal;
}

.submit-btn {
    float: right;
    border-style: solid;
    border-radius: 3px;
    border-width: 0px;
    width: 100px;
    min-height: 40px;
    margin: 5px 1px;
    background-color: teal;
    color: white;
}

.login-label {
    font-weight: lighter;
    font-size: 1.5em;
}


/* Create Todo Item page */

.content-wrap {
    width: 100%;
    margin: 0 auto;
}

.content {
    display: flex;
    overflow: auto;
    height: 100%;
}

.navigation {
    height: 100%;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 5px;
    /* font-size: 1.5em; */
    font-weight: lighter;
}

.main-content {
    background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)), url(../images/todo.png) no-repeat fixed;
    background-size: cover;
    padding: 10px;
    margin: 0px;
    height: 100%;
    overflow: unset;
}

.btn {
    display: block;
    width: 100%;
    height: 40px;
    border-style: none;
    background: white;
    text-align: start;
    font-size: 1em;
    color: black;
}

.create-list-btn {
    position: absolute;
    bottom: 0px;
    color: teal;
}

hr {
    width: 100%;
    background: black;
    stroke-width: 1px;
}

.my-to-do {
    color: teal;
}

.plus {
    font-size: 2em;
    font-weight: lighter;
}

.todo-item-label {
    font-size: 1em;
    font-weight: 200;
    color: black;
}

.todo-item {
    margin-bottom: 10px;
}

.todo-title {
    border-style: ridge;
    border-width: 0px;
    border-bottom-width: 1px;
    padding: 5px;
    margin-bottom: 5px;
}

.main-btn {
    border-style: solid;
    border-radius: 3px;
    border-width: 0px;
    width: 100px;
    min-height: 40px;
    margin: 5px 1px;
    background-color: teal;
    color: white;
}

.del-task-btn {
    border-style: solid;
    border-radius: 3px;
    border-width: 0px;
    width: 70px;
    min-height: 30px;
    margin: 5px 1px;
    background-color: teal;
    color: white;
}

.add-task {
    border-style: ridge;
    border-width: 1px;
    height: 40px;
    width: 50%;
    font-size: 1em;
    font-weight: lighter;
    padding: 5px;
}

.add-task-field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-num {
    font-weight: 150;
}

@media(min-width: 743px) {
    .col-narrow {
        width: 20%;
        float: left;
    }
    .col-wide {
        width: 80%;
        float: left;
    }
}

@media(max-width: 742px) {
    .col-narrow {
        width: 40%;
        float: left;
    }
    .col-wide {
        width: 60%;
        float: left;
    }
}

@media(max-width: 370px) {
    .content {
        display: inline-block;
        overflow: auto;
        height: 100%;
    }
    .col-narrow {
        width: 100%;
        float: left;
    }
    .col-wide {
        width: 100%;
        float: left;
    }
}

@media (max-width: 400px) {
    .submit-btn {
        float: left;
    }
    .signup-btn {
        float: left;
    }
    .login-input {
        width: 60%;
    }
}